@import "compass_twitter_bootstrap";
@import "_buttons";

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700|Montserrat:400,700);

/* 
  Allow angular.js to be loaded in body, hiding cloaked elements until 
  templates compile.  The !important is important given that there may be 
  other selectors that are more specific or come later and might alter display.  
 */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

body{
	background:transparent url(/images/bg.png);
	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

hr{
	border-bottom:1px solid #aaa;
	border-top:0;

	&.inline{
		margin:0 0 5px 0;
	}
}

.actions{
	margin:3px 0;

	&.pull-left{
		margin-top:5px;
	}
}

ul{
	&.share{
		list-style:none;
		margin:0;

		li{
			display:inline;
			margin-left:10px;
		}
	}
}

.hero-unit{
	background-color: transparent;
	margin-bottom:0;

	p{
		margin:0 auto;
		width:170px;
		font-weight: bold;
	}
}

.fb-like-box{
	position:absolute;
	bottom:65px;
	left:50%;
	margin-left:-145px;
}

.logo{
	background:transparent url(/images/logo.png) no-repeat;
	width:774px;
	height:251px;
	margin:0 auto;
	position:relative;

	.beta{
		background:transparent url(/images/beta.png) no-repeat;
		width:117px;
		height:79px;
		position:absolute;
		right:0;
		top:70px;
		margin-right:-95px;
	}
}

a{
	color:#000;
}
legend{
	border-color: #aaa;
	margin-bottom: 0;
}

.button-wrapper{
	text-align: center;
	height:400px;
}

.state-status{
	max-height:60px;
	height:60px;
	overflow:hidden;
}
.preparing{
	height:400px;
}
.comments{
	height:400px;
	max-height: 400px;
	overflow-y:hidden;

	h5{
		display:inline-block;
	}
}

.console{
	font-family: courier;
	font-size:11px;
	height:400px;
	max-height: 400px;
	overflow-x:hidden;
	overflow-y:auto;
}
.unveil-madness{
	margin:0 auto;
}

.progress-wrapper{
	margin:20px auto;
}

.img-wrapper{
	background:transparent url(/images/picture.png) no-repeat;
	width:79px;
	height:79px;

	img{
		margin-top:7px;
		margin-left:7px;
		width:60px;
		height:60px;
	}
}


.rating{
	color:#555;
	font-weight: bold;
	margin-left:10px;
	font-size:16px;
}

.comment-wrapper{
	> div{
		margin-left:20px;
	}
}

.footer{
	margin-top:20px;
	font-size:13px;
	color:#222;

	p {
		margin-bottom:5px;
	}

	.social{
		background:transparent no-repeat url(/images/social.png);
		display: inline-block;		
		width:32px;
		height:32px;
		margin-right:10px;

		&.in{
			background-position: -160px 0;

			&:hover{
				background-position: -160px -32px;
			}
		}
		&.twitter{
			background-position: -128px 0;

			&:hover{
				background-position: -128px -32px;
			}
		}
		&.gplus{
			background-position: 0 0;

			&:hover{
				background-position: 0 -32px;
			}
		}
	}
}