extends layout

block body
  .container(ng-controller='AppCtrl')
    .hero-unit
      h1 DET ER OS DER SNAKKER
        p Nationen on roids!
    .row
      .span12(ng-show='!begun')
        fieldset
          div
            form(ng-submit='pushButton()')
              input.btn-large.btn-primary(type='submit', value='UNVEIL MADNESS')
      .span12(ng-show='begun')
        .row
          .span8 &nbsp;
              legend
                a(href='{{articleData.href}}', target='_blank') {{articleData.title}}
              .row(ng-repeat='comment in commentsHtml')
                .span8
                  .row
                    .span8
                      h5 {{comment.name}} - {{comment.date}}
                  .row
                    .span1
                      img.polaroid(src='{{comment.avatarUrl}}')
                    .span7
                      div {{comment.bodyHTML}}
                .clearfix
                hr
          .span4
            legend Console
            .well.console
              p(ng-repeat='message in messages') {{message.text}}