extends layout

block body
  div(id='fb-root')
    script
        (function(d, s, id) {
           var js, fjs = d.getElementsByTagName(s)[0];
           if (d.getElementById(id)) {return;}
           js = d.createElement(s); js.id = id;
           js.src = "//connect.facebook.net/da_DK/all.js#xfbml=1&appId=154863778023261";
           fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk')); 

  div(ng-controller='AppCtrl')
    .container
      .hero-unit
        .logo
          .beta
        p Nationen on roids!
      .row
        //- waiting - initial state
        .span12(ng-show='state=="waiting"')
          fieldset
            .button-wrapper
              form.unveil-madness(ng-submit='pushButton()')
                input.button(type='submit', value='UNVEIL MADNESS')
        //- preparing
        .span12(ng-cloak,ng-show='state=="preparing"')
          .preparing.span8.offset2
            .state-status
              p(ng-repeat='message in messages | reverse ') {{message.text}}
            .progress-wrapper(style='display:none;')
              p Konverterer {{numberOfComments}} kommentarer til lyd.

              p Det tager muligvis lige et par minutter.
                .progress.progress-striped.active
                  .bar(style='width: {{progress}}%;') {{progressText}}
        //- reading
        .span12(ng-cloak,ng-show='state=="reading"')
          .row
            .comments.span8.offset2
                legend
                  a(href='{{articleData.href}}', target='_blank') {{articleData.title}}
                  .pull-right {{numberOfComments}} indlæg
                .clearfix
                .actions.pull-left
                  a(href='http://deterosdersnakker.dk/?a={{articleData.cleanHref}}', target='_blank') Direkte link til højtlæsning af denne artikel.
                .actions.pull-right

                  //- will be populated by controller
                  ul.share
                    li.fb
                    li.twitter                     

                .clearfix
                hr.inline

                .row(data-ng-hide="hidden", data-ng-animate="'fade'", ng-repeat='comment in commentsHtml | reverse')
                  .span8
                    .row
                      .span8
                        h5 {{comment.name}} - {{comment.date}} 
                        span.rating
                          {{comment.rating}}
                    .row
                      .span1
                        .img-wrapper
                          img(ng-src='{{comment.avatarUrl}}')
                      .span6.comment-wrapper
                        div {{comment.body}}
                  .clearfix
                  hr
        .row
          .footer.span8.offset2
            .pull-left             
              p Af Brian Frisch
              p
                a.social.in(href="http://dk.linkedin.com/in/frischbrian/",target="_blank")
                a.social.twitter(href="http://twitter.com/teltploek",target="_blank")
                a.social.gplus(href="http://plus.google.com/103856422605997356830",target="_blank")
            .pull-right 
              p Kildekode: 
                a(href="http://github.com/teltploek/DetErOsDerSnakker",target="_blank",style="text-decoration:underline;") github

  .fb-like-box(data-href='https://www.facebook.com/595744360436120', data-width='292', data-height='150', data-show-faces='true', data-stream='true', data-header='true')