extends layout

block body
  .container(ng-controller='AppCtrl')
    .hero-unit
      h1 DET ER OS DER SNAKKER
        p Nationen on roids!
    .row
      .span12
        fieldset
          div(ng-show='!begun')
            form(ng-submit='pushButton()')
              input.btn-large.btn-primary(type='submit', value='UNVEIL MADNESS')

    hr
    .row
      .span12
        p(ng-repeat='comment in comments') {{comment.body}}
    .row
      .span12
        p(ng-repeat='message in messages') {{message.text}}