extends layout

block body
  .container(ng-controller='AppCtrl')
    .hero-unit
      h1 DET ER OS DER SNAKKER
        p Nationen on roids!
    .row
      .span12(ng-show='!begun')
        fieldset
          div
            form(ng-submit='pushButton()')
              input.btn-large.btn-primary(type='submit', value='UNVEIL MADNESS')
      .span12(ng-show='begun')
        .row
          .span8
            .row.well(ng-repeat='comment in commentsHtml')
              .span2
                img.polaroid(src='{{comment.avatarUrl}}')
              .span6
                div {{comment.bodyHTML}}
          .span4
            h3 what's going on?
            .well.console
              p(ng-repeat='message in messages') {{message.text}}