extends layout

block body
  div(ng-controller='AppCtrl', data-ng-class="{animations: animationsEnabled}")
    .container
      .hero-unit
        .logo
        p Nationen on roids!
      .row
        .span12(ng-show='!begun')
          fieldset
            .button-wrapper
              form.unveil-madness(ng-submit='pushButton()')
                input.button(type='submit', value='UNVEIL MADNESS')
        .span12(ng-cloak,ng-show='begun')
          .row
            .comments.span8.offset2
                legend
                  a(href='{{articleData.href}}', target='_blank') {{articleData.title}}
                .pull-left {{numberOfComments}} kommentarer

                .row(data-ng-hide="hidden", data-ng-animate="'fade'", ng-repeat='comment in commentsHtml | reverse')
                  .span8
                    .row
                      .span8
                        h5 {{comment.name}} - {{comment.date}} 
                        span.rating
                          {{comment.rating}}
                    .row
                      .span1
                        .img-wrapper
                          img(ng-src='{{comment.avatarUrl}}')
                      .span6.comment-wrapper
                        div {{comment.bodyHTML}}
                  .clearfix
                  hr

    .modal.hide.fade.progress-modal
      .modal-header
        h3 Wait for it...
      .modal-body
        p Converting {{numberOfComments}} comments to sound.

        p This might take a little while.

        .progress-wrapper(style='width:80%;margin:0 auto;')
          .progress.progress-striped.active
            .bar(style='width: {{progress}}%;') {{progressText}}