extends layout

block body
  div(ng-controller='AppCtrl', data-ng-class="{animations: animationsEnabled}")
    .container
      .hero-unit
        .logo
          .beta
        p Nationen on roids!
      .row
        //- waiting - initial state
        .span12(ng-show='state=="waiting"')
          fieldset
            .button-wrapper
              form.unveil-madness(ng-submit='pushButton()')
                input.button(type='submit', value='UNVEIL MADNESS')
        //- preparing
        .span12(ng-cloak,ng-show='state=="preparing"')
          .span8.offset2
            .state-status
              p(ng-repeat='message in messages | reverse ') {{message.text}}
            .progress-wrapper(style='display:none;')
              p Converting {{numberOfComments}} comments to sound.

              p This might take a little while.
                .progress.progress-striped.active
                  .bar(style='width: {{progress}}%;') {{progressText}}
        //- reading
        .span12(ng-cloak,ng-show='state=="reading"')
          .row
            .comments.span8.offset2
                legend
                  a(href='{{articleData.href}}', target='_blank') {{articleData.title}}
                .pull-left {{numberOfComments}} kommentarer

                .row(data-ng-hide="hidden", data-ng-animate="'fade'", ng-repeat='comment in commentsHtml | reverse')
                  .span8
                    .row
                      .span8
                        h5 {{comment.name}} - {{comment.date}} 
                        span.rating
                          {{comment.rating}}
                    .row
                      .span1
                        .img-wrapper
                          img(ng-src='{{comment.avatarUrl}}')
                      .span6.comment-wrapper
                        div {{comment.bodyHTML}}
                  .clearfix
                  hr