doctype html
html(ng-app="myApp", xmlns:fb="https://www.facebook.com/2008/fbml")
  head
    meta(charset='utf8')

    meta(property="og:url", content="http://deterosdersnakker.dk")
    meta(property="og:image", content="http://deterosdersnakker.dk/images/deods.png")
    meta(property="og:site_name", content="DetErOsDerSnakker")
    meta(property="og:description", content="Description of my product.")

    base(href='/')
    title Det er os der snakker
    link(rel='stylesheet', href='/css/main.css')
  body
    block body

    script(src='js/lib/jquery.min.js')

    script
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
        
    script
        var _gaq=[['_setAccount','UA-40079687-1'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));

    script(src='js/lib/buzz.js')
    script(src='js/lib/angular/angular.js')
    script(src='/socket.io/socket.io.js')
    script(src='js/app.js')
    script(src='js/services.js')
    script(src='js/controllers.js')
    script(src='js/filters.js')
    script(src='js/directives.js')