!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Det er os der snakker
    link(rel='stylesheet', href='/css/main.css')
  body
    block body

    script(src='js/lib/jquery.min.js')
        
    script
        var _gaq=[['_setAccount','UA-40079687-1'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));

    script(src='js/lib/bootstrap/bootstrap-affix.js')
    script(src='js/lib/bootstrap/bootstrap-alert.js')
    script(src='js/lib/bootstrap/bootstrap-dropdown.js')
    script(src='js/lib/bootstrap/bootstrap-tooltip.js')
    script(src='js/lib/bootstrap/bootstrap-modal.js')
    script(src='js/lib/bootstrap/bootstrap-transition.js')
    script(src='js/lib/bootstrap/bootstrap-button.js')
    script(src='js/lib/bootstrap/bootstrap-popover.js')
    script(src='js/lib/bootstrap/bootstrap-typeahead.js')
    script(src='js/lib/bootstrap/bootstrap-carousel.js')
    script(src='js/lib/bootstrap/bootstrap-scrollspy.js')
    script(src='js/lib/bootstrap/bootstrap-collapse.js')
    script(src='js/lib/bootstrap/bootstrap-tab.js')
    script(src='js/lib/angular/angular.js')
    script(src='/socket.io/socket.io.js')
    script(src='js/app.js')
    script(src='js/services.js')
    script(src='js/controllers.js')
    script(src='js/filters.js')
    script(src='js/directives.js')